@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/*-----------RESET STYLES------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a, p {
  text-decoration: none;
}

a, button, i, input {
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

ul {
  list-style: none;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  line-height: 1em;
}

/*--------END RESET STYLES------------ */
/*---------RESET BOOTSTRAP STYLES----- */
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin: 0;
}

/*-----END RESET BOOTSTRAP STYLES----- */
body {
  background: #0a2345;
}

/*------------WELCOME STYLES---------- */
.welcome {
  overflow: hidden;
  padding: 190px 0 100px 0;
}

/*------------HEADER STYLES----------- */
.navbar-inverse {
  margin-bottom: 0;
  padding-top: 20px;
  background: transparent;
  border: none;
}
.navbar-inverse .navbar-toggle {
  display: block;
  padding-top: 30px;
  border: none;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background: #2a5da3;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background: none;
  border: none;
}
.navbar-inverse .navbar-toggle:hover .icon-bar, .navbar-inverse .navbar-toggle:focus .icon-bar {
  background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
}

/*---------END HEADER STYLES---------- */
.jumbotron {
  margin-bottom: 0;
  padding-bottom: 0;
  background: transparent;
}
.jumbotron h2 {
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
  font: 400 48px " Montserrat", sans-serif;
  color: #fff;
}
.jumbotron h2 span {
  color: #2a5da3;
}
.jumbotron p {
  margin: 0 auto;
  padding-bottom: 80px;
  font: 400 18px " Montserrat", sans-serif;
  color: #2e66b2;
}
.jumbotron .button {
  text-align: center;
}
.jumbotron .button .btn-lg {
  padding: 15px 30px;
  font: 700 14px " Montserrat", sans-serif;
  background: transparent;
  border: 1px solid #2e66b2;
  border-radius: 50px;
}
.jumbotron .button .btn-primary:hover {
  border: 1px solid transparent;
}
.jumbotron .hvr-float-shadow:before {
  background: radial-gradient(ellipse at center, #2e66b2 0%, rgba(0, 0, 0, 0) 80%);
}

/*---------END WELCOME STYLES--------- */
/*------------INFO STYLES------------- */
.info {
  position: relative;
  overflow: hidden;
  padding: 50px 0;
}
.info::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -235px;
  width: 1999px;
  height: 471px;
  background: url("../../images/img-bg.png") no-repeat;
}
.info li {
  margin-bottom: 20px;
}
.info li img {
  box-shadow: 0 0 50px -5px #000;
}

/*---------END INFO STYLES----------- */
/*------------FUTURE STYLES---------- */
.future {
  padding: 50px 0;
}
.future .container-fluid {
  padding-left: 0;
}
.future .container-fluid img {
  padding-left: 0;
}
.future .container-fluid .jumbotron {
  padding: 0 0 0 20px;
}
.future .container-fluid .jumbotron h2 {
  text-align: start;
}
.future .container-fluid .jumbotron p {
  padding-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  color: #66778e;
}
.future .container-fluid .jumbotron .button {
  text-align: start;
}
.future .container-fluid .jumbotron .button .btn-lg {
  padding: 15px 45px;
}

/*---------END FUTURE STYLES--------- */
/*------------OFFER STYLES----------- */
.page-header {
  margin-bottom: 0;
  padding-bottom: 60px;
  border-bottom: none;
}
.page-header h2 {
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
  font: 400 48px " Montserrat", sans-serif;
  color: #fff;
}
.page-header h2 span {
  color: #2a5da3;
}

.offer {
  padding: 50px 0;
  background-color: #0a2345;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0A2345', endColorstr='#FF051020');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhMjM0NSIvPjxzdG9wIG9mZnNldD0iMTQlIiBzdG9wLWNvbG9yPSIjMDkxZTNiIi8+PHN0b3Agb2Zmc2V0PSIyNyUiIHN0b3AtY29sb3I9IiMwNzFhMzIiLz48c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iIzA3MTUyYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA1MTAyMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a2345), color-stop(14%, #091e3b), color-stop(27%, #071a32), color-stop(48%, #07152b), color-stop(100%, #051020));
  background-image: -moz-linear-gradient(top, #0a2345 0%, #091e3b 14%, #071a32 27%, #07152b 48%, #051020 100%);
  background-image: -webkit-linear-gradient(top, #0a2345 0%, #091e3b 14%, #071a32 27%, #07152b 48%, #051020 100%);
  background-image: linear-gradient(to bottom, #0a2345 0%, #091e3b 14%, #071a32 27%, #07152b 48%, #051020 100%);
}
.offer .img-wrap {
  position: relative;
  text-align: center;
}
.offer .img-wrap::before {
  content: "";
  position: absolute;
  bottom: -40px;
  right: 50%;
  margin-right: -399px;
  width: 798px;
  height: 126px;
  background: url("../../images/offer-bg.png") no-repeat;
}
.offer .img-wrap img {
  position: relative;
  top: 0;
  -moz-transition-property: top;
  -o-transition-property: top;
  -webkit-transition-property: top;
  transition-property: top;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.offer .img-wrap img:hover {
  top: -50px;
}

.offer-list {
  padding-top: 30px;
}
.offer-list li {
  margin-bottom: 50px;
}
.offer-list li h3 {
  margin-bottom: 20px;
  padding-top: 80px;
  font: 400 24px " Montserrat", sans-serif;
  color: #fff;
}
.offer-list li .volume {
  position: relative;
}
.offer-list li .volume::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 54px;
  height: 54px;
  background: url("../../images/volume-icon.png") no-repeat;
}
.offer-list li .graph {
  position: relative;
}
.offer-list li .graph::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 40px;
  background: url("../../images/graph-icon.png") no-repeat;
}
.offer-list li .headphone {
  position: relative;
}
.offer-list li .headphone::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 52px;
  background: url("../../images/headphones-icon.png") no-repeat;
}
.offer-list li .circle {
  position: relative;
}
.offer-list li .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 47px;
  height: 47px;
  background: url("../../images/cd-icon.png") no-repeat;
}
.offer-list li p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  color: #66778e;
}

/*---------END OFFER STYLES---------- */
/*---------MAIN-OFFER STYLES--------- */
.main-offer {
  margin-top: 75px;
  padding: 100px 0;
  background: url("../../images/swich-bg.png") 105% no-repeat;
  background-size: contain;
}
.main-offer .try h3 {
  position: relative;
  margin-bottom: 30px;
  padding-top: 80px;
  font: 400 36px " Montserrat", sans-serif;
  color: #fff;
}
.main-offer .try h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 51px;
  background: url("../../images/swich-icon.png") no-repeat;
}
.main-offer .try p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  color: #66778e;
}

/*------END MAIN-OFFER STYLES-------- */
/*----------SLIDER STYLES------------ */
.slider {
  position: relative;
  background: url("../../images/slider-bg.png") no-repeat;
  background-size: cover;
}
.slider .slider-bg {
  padding: 30px 0 160px 0;
  background: rgba(10, 35, 69, 0.5);
}
.slider .slider-bg .carousel {
  background: transparent;
}

.slide .item {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}
.slide .item p {
  color: #66778e;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
}
.slide .item .carousel-caption {
  padding-bottom: 5px;
}
.slide .item .carousel-caption p {
  display: inline-block;
  position: relative;
  padding-left: 50px;
  font: 400 14px " Montserrat", sans-serif;
  color: #66778e;
}
.slide .item .carousel-caption p span {
  color: #213a61;
}
.slide .item .carousel-caption p::before {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  width: 38px;
  height: 38px;
  background: url("../../images/user-photo.png") no-repeat;
}

.carousel-indicators {
  bottom: -40px;
}

/*-------END SLIDER STYLES---------- */
/*---------DISCOVER STYLES---------- */
.discover {
  text-align: center;
  background: #02050a;
}
.discover .container {
  padding: 100px 0;
  border-bottom: 1px solid #66778e;
}
.discover .page-header {
  padding-bottom: 100px;
}
.discover .page-header h3 {
  margin-bottom: 50px;
  font: 400 36px " Montserrat", sans-serif;
  color: #fff;
}
.discover .page-header p {
  margin: 0 auto;
  max-width: 630px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  color: #66778e;
}
.discover .img-wrap {
  position: relative;
  margin-bottom: 90px;
}
.discover .img-wrap::before {
  content: "";
  position: absolute;
  left: 89px;
  top: -35px;
  width: 450px;
  height: 684px;
  background: url("../../images/form-bg.png") no-repeat;
}
.discover .img-wrap::after {
  content: "";
  position: absolute;
  width: 430px;
  height: 684px;
  top: -35px;
  right: 111px;
  background: url("../../images/media-bg.png") no-repeat;
}
.discover a {
  padding: 13px 30px;
  font: 700 14px " Montserrat", sans-serif;
  text-decoration: none;
  color: #fff;
  border: 1px solid #2e66b2;
  border-radius: 50px;
}
.discover a:hover {
  border: 1px solid transparent;
}
.discover .hvr-float-shadow:before {
  background: radial-gradient(ellipse at center, #2e66b2 0%, rgba(0, 0, 0, 0) 80%);
}

/*------END DISCOVER STYLES---------- */
/*----------FOOTER STYLES------------ */
.footer {
  padding: 50px 0 75px 0;
  background: #02050a;
}
.footer .footer-list li {
  padding-right: 20px;
}
.footer .footer-list li a {
  font: 700 14px " Montserrat", sans-serif;
  text-decoration: none;
  color: #14396a;
}
.footer .footer-list li a:hover {
  color: #66778e;
}
.footer .footer-list li .hvr-underline-from-center::before {
  height: 1px;
  background: #66778e;
}
.footer p {
  font: 400 14px " Montserrat", sans-serif;
  color: #14396a;
}

/*-------END FOOTER STYLES----------- */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }

  /*------------INFO STYLES------------- */
  .info li img {
    width: 300px;
  }

  /*---------END INFO STYLES----------- */
  /*------------FUTURE STYLES---------- */
  .future .container-fluid img {
    padding-left: 0;
  }
  .future .container-fluid .jumbotron {
    padding: 0 0 0 20px;
  }
  .future .container-fluid .jumbotron h2 {
    font-size: 32px;
  }
  .future .container-fluid .jumbotron p {
    padding-bottom: 25px;
    line-height: 30px;
  }

  /*---------END FUTURE STYLES--------- */
  /*------------OFFER STYLES----------- */
  .offer-list li h3 {
    font-size: 20px;
  }
  .offer-list li p {
    font-size: 13px;
    line-height: 25px;
  }

  .list-off {
    padding-left: 40px;
  }

  /*---------END OFFER STYLES---------- */
  /*---------MAIN-OFFER STYLES--------- */
  .main-offer {
    padding: 100px 0;
  }
  .main-offer .try {
    padding: 50px 20px 0;
  }
  .main-offer .try h3 {
    margin-bottom: 35px;
    font-size: 30px;
  }
  .main-offer .try p {
    font-size: 13px;
    line-height: 28px;
  }

  /*------END MAIN-OFFER STYLES-------- */
  /*---------DISCOVER STYLES---------- */
  .discover .img-wrap::before {
    left: -12px;
  }
  .discover .img-wrap::after {
    right: 10px;
  }

  /*------END DISCOVER STYLES---------- */
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }

  /*------------FUTURE STYLES---------- */
  .future .container-fluid img {
    padding-left: 0;
  }
  .future .container-fluid .jumbotron {
    padding: 0 0 0 20px;
  }
  .future .container-fluid .jumbotron h2 {
    font-size: 30px;
  }
  .future .container-fluid .jumbotron p {
    padding-bottom: 20px;
    font-size: 13px;
    line-height: 25px;
  }
  .future .container-fluid .jumbotron .button .btn-lg {
    font-size: 13px;
    padding: 10px 45px;
  }

  /*---------END FUTURE STYLES--------- */
  /*------------OFFER STYLES----------- */
  .offer {
    padding-bottom: 50px;
  }
  .offer .img-wrap::before {
    content: "";
    position: absolute;
    display: none;
  }

  .offer-list {
    overflow: hidden;
  }
  .offer-list li {
    text-align: center;
  }
  .offer-list li h3 {
    font-size: 20px;
  }
  .offer-list li .volume::before {
    left: 50%;
    margin-left: -27px;
  }
  .offer-list li .graph::before {
    left: 50%;
    margin-left: -27px;
  }
  .offer-list li .headphone::before {
    left: 50%;
    margin-left: -27px;
  }
  .offer-list li .circle::before {
    left: 50%;
    margin-left: -24px;
  }
  .offer-list li p {
    font-size: 13px;
  }

  /*---------END OFFER STYLES---------- */
  /*---------MAIN-OFFER STYLES--------- */
  .main-offer {
    padding: 50px 0;
  }
  .main-offer .try {
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
  }
  .main-offer .try h3 {
    position: relative;
  }
  .main-offer .try h3::before {
    left: 50%;
    margin-left: -25px;
  }

  /*------END MAIN-OFFER STYLES-------- */
  /*----------SLIDER STYLES------------ */
  .slider .slider-bg {
    padding: 0 0 100px 0;
  }

  .slide .item {
    padding: 80px 0;
  }
  .slide .item p {
    font-size: 19px;
  }

  /*-------END SLIDER STYLES---------- */
  /*---------DISCOVER STYLES---------- */
  .discover .container {
    padding: 50px 0;
  }
  .discover .img-wrap::before {
    display: none;
  }
  .discover .img-wrap::after {
    display: none;
  }

  /*------END DISCOVER STYLES---------- */
}
@media (max-width: 767px) {
  /*------------WELCOME STYLES---------- */
  .welcome {
    padding: 125px 0 0 0;
  }

  /*------------HEADER STYLES----------- */
  .navbar-inverse .navbar-toggle {
    margin: 0;
    padding-top: 30px;
  }

  .navbar-brand img {
    width: 150px;
  }

  /*---------END HEADER STYLES---------- */
  .jumbotron h2 {
    font-size: 43px;
  }
  .jumbotron p {
    padding-bottom: 40px;
  }

  /*---------END WELCOME STYLES--------- */
  /*------------INFO STYLES------------- */
  .info {
    padding: 60px 0 0 0;
  }
  .info li img {
    width: 280px;
  }

  /*---------END INFO STYLES----------- */
  /*------------FUTURE STYLES---------- */
  .future .container-fluid img {
    margin-bottom: 20px;
  }
  .future .container-fluid .jumbotron {
    padding: 0 10px 0 10px;
  }
  .future .container-fluid .jumbotron h2 {
    font-size: 30px;
    text-align: center;
  }
  .future .container-fluid .jumbotron p {
    padding-bottom: 25px;
    text-align: center;
    font-size: 13px;
    line-height: 25px;
  }
  .future .container-fluid .jumbotron .button {
    text-align: center;
  }
  .future .container-fluid .jumbotron .button .btn-lg {
    font-size: 13px;
    padding: 15px 45px;
  }

  /*---------END FUTURE STYLES--------- */
  /*------------OFFER STYLES----------- */
  .offer {
    padding-bottom: 50px;
  }
  .offer .page-header {
    padding-bottom: 0;
  }
  .offer .page-header h2 {
    font-size: 43px;
  }
  .offer .img-wrap::before {
    display: none;
  }
  .offer .img-wrap img {
    width: 275px;
  }

  .offer-list {
    overflow: hidden;
  }
  .offer-list li {
    text-align: center;
  }
  .offer-list li h3 {
    font-size: 20px;
  }
  .offer-list li .volume::before {
    left: 50%;
    margin-left: -27px;
  }
  .offer-list li .graph::before {
    left: 50%;
    margin-left: -27px;
  }
  .offer-list li .headphone::before {
    left: 50%;
    margin-left: -27px;
  }
  .offer-list li .circle::before {
    left: 50%;
    margin-left: -24px;
  }
  .offer-list li p {
    font-size: 13px;
  }

  /*---------END OFFER STYLES---------- */
  /*---------MAIN-OFFER STYLES--------- */
  .main-offer {
    padding: 0;
    margin-top: 30px;
  }
  .main-offer .try {
    margin-bottom: 15px;
    padding: 0 20px 0 0;
    text-align: center;
  }
  .main-offer .try h3 {
    margin-bottom: 35px;
    font-size: 30px;
  }
  .main-offer .try h3::before {
    left: 50%;
    margin-left: -25px;
  }
  .main-offer .try p {
    font-size: 12px;
    line-height: 27px;
    color: #fff;
  }

  /*------END MAIN-OFFER STYLES-------- */
  /*----------SLIDER STYLES------------ */
  .slider .slider-bg {
    padding: 0 0 100px 0;
  }

  .slide .item {
    padding: 80px 0;
  }
  .slide .item p {
    font-size: 15px;
    line-height: 25px;
  }
  .slide .item .carousel-caption p {
    font-size: 10px;
  }

  /*-------END SLIDER STYLES----------- */
  /*---------DISCOVER STYLES----------- */
  .discover .container {
    padding: 50px 0;
  }
  .discover .container .page-header {
    padding-bottom: 50px;
  }
  .discover .container .page-header h3 {
    margin-bottom: 35px;
    font-size: 30px;
  }
  .discover .container .page-header p {
    font-size: 13px;
    line-height: 30px;
  }
  .discover .container .img-wrap {
    display: none;
  }
  .discover .container .img-wrap::before {
    display: none;
  }
  .discover .container .img-wrap::after {
    display: none;
  }

  /*------END DISCOVER STYLES---------- */
  /*----------FOOTER STYLES------------ */
  .footer {
    padding: 50px 0 50px 0;
  }
  .footer .footer-list {
    margin-bottom: 15px;
    justify-content: center;
  }
  .footer .footer-list li {
    padding-right: 9px;
  }
  .footer .footer-list li a {
    font-size: 12px;
  }
  .footer p {
    padding: 0 30px 0 0;
    text-align: center;
    font-size: 11px;
  }

  /*-------END FOOTER STYLES----------- */
}
