@media (max-width: 767px)

  /*------------WELCOME STYLES----------*/
  .welcome
    padding: 125px 0 70px 0
  /*------------HEADER STYLES-----------*/
  .navbar-inverse
    .navbar-toggle
      margin: 0
      padding-top: 45px
  /*---------END HEADER STYLES----------*/
  .jumbotron
    h2
      font-size: 43px
    p
      padding-bottom: 40px
  /*---------END WELCOME STYLES---------*/

  /*------------INFO STYLES-------------*/
  .info
    padding: 0
    li
      img
        width: 280px
  /*---------END INFO STYLES-----------*/

  /*------------FUTURE STYLES----------*/
  .future
    .container-fluid
      img
        margin-bottom: 20px
      .jumbotron
        padding: 0 10px 0 10px
        h2
          font-size: 30px
          text-align: center
        p
          padding-bottom: 25px
          text-align: center
          font-size: 13px
          line-height: 25px
        .button
          text-align: center
          .btn-lg
            font-size: 13px
            padding: 15px 45px
  /*---------END FUTURE STYLES---------*/

